:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
  --block-profile-img: #19191a42;
  --send_bg: #0b93f6;
  --receive_bg: #edeef0;
}

body[scheme="space_gray"] {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
  --block-profile-img: #00000065;
  --send_bg: #0b93f6;
  --receive_bg: #232324;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  display: none;
}

.vkuiAvatar__img {
  object-fit: cover;
}

.nameStory {
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis; /* Добавляем многоточие */
  max-width: 64px;
  height: 15px;
  color: var(--text_subhead);
  font-weight: 500;
}

.nameNewStory {
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis; /* Добавляем многоточие */
  max-width: 64px;
  height: 15px;
  color: var(--accent);
  font-weight: 500;
}

.nameNewsStory {
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis; /* Добавляем многоточие */
  max-width: 64px;
  height: 15px;
  color: var(--field_valid_border);
  font-weight: 500;
}

.noNewStory {
  position: relative;
  outline: 2px;
  outline-offset: 1px;
  margin-top: 3px;
}

.newStory {
  position: relative;
  outline: 2px solid var(--accent);
  outline-offset: 1px;
  margin-top: 3px;
  border-radius: 100px;
}

.newsStory {
  position: relative;
  outline: 2px dashed var(--field_valid_border);
  outline-offset: 1px;
  margin-top: 3px;
  animation: spin 10s linear infinite;
  border-radius: 100px;
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}

.iconAddStory {
  position: absolute;
  bottom: 27px;
  right: 7px;
  background-color: var(--accent);
  border-radius: 100px;
  color: var(--background_content);
  border: 2px solid var(--background_content);
}

.imgPost {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 400px;
}

.allBlockIconPost {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 5px;
}

.blockIconPost {
  display: flex;
  background-color: var(--placeholder_icon_background);
  border-radius: 30px;
}

.indicatorblockIconPost {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  color: var(--icon_outline_secondary);
}

.vkuiPromoBanner {
  width: 112%;
  color: var(--text_primary);
  background: rgba(255, 255, 255, 0);
  padding-bottom: 0px;
  margin-top: -10px;
  position: relative;
  outline: solid 0px;
  margin-left: -15px;
}

.blockGifts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.blockGift {
  width: 100px;
  height: auto;
  margin: 5px;
}

.blockImgGifts {
  position: relative;
  background-color: var(--placeholder_icon_background);
  border-radius: 10px;
  width: 100px;
  height: 100px;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
}

.imgGifts {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.nameGifts {
  text-align: center;
  margin-top: 10px;
  max-width: 100px;
  font-weight: 500;
}

.priceGifts {
  display: flex;
  max-width: 100px;
  margin-bottom: 10px;
}

.iconPriceGifts {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  color: var(--accent);
}

.textPriceGifts {
  margin-left: 5px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  color: var(--accent);
}

.balansBlock {
  text-align: center;
  background-color: var(--background_content);
  height: 20px;
  border-bottom: 1px solid var(--separator_common);
  margin-left: 1px;
  margin-right: 1px;
}

.balansText {
  font-weight: 600;
}

.imgGift {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 250px;
  height: 250px;
  object-fit: cover;
  background-color: var(--placeholder_icon_background);
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.15);
}

.buttonGiftBlock {
  text-align: center;
  height: 60px;
  background-color: var(--background_content);
}

.gallery-profile {
  height: 400px;
  object-fit: cover;
}

.block-profile-img {
  position: absolute;
  width: 100%;
  height: 25px;
  background-color: var(--background_content);
  border-radius: 10px 10px 0px 0px;
  margin-top: -24px;
  box-shadow: 0px -10px 15px -5px var(--block-profile-img);
}

.avatar-profile {
  width: 72px;
  height: 72px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 10px;
  object-fit: cover;
}

.block-avatar-profile {
  margin-top: -12px;
  z-index: 1;
}

.block-info-profile {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: -10px;
}

.position-info-profile {
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px;
  width: calc(100% / 3);
  border-radius: 10px;
}

.text-info-profile-1 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.text-info-profile-2 {
  text-align: center;
  color: var(--text_secondary);
}

.vkuiGallery__bullets {
  top: 15px;
}

.vkuiGallery__bullet {
  height: 8px;
  width: 8px;
  color: var(--icon_secondary);
  box-shadow: 0 0 2px rgb(0 0 0 / 50%), 0 0 16px rgb(0 0 0 / 50%) !important;
}

.vkuiGallery__bullet--active {
  height: 10px;
  width: 10px;
}

.addBanner {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
}

.icon-add {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}

.avatar-for-notifications {
  margin-bottom: auto !important;
  margin-top: 16px !important;
}

.img-gifts-for-notifications {
  width: 50px;
  height: 50px;
  padding: 5px;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: var(--placeholder_icon_background);
  border-radius: 10px;
}

.text-notifications {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  box-orient: vertical;
}

.icon-users-story {
  background-color: var(--placeholder_icon_background);
  border-radius: 100px;
  padding: 5px;
}

.img-story {
  height: calc(100vh - 157px);
  object-fit: cover;
  max-width: 450px;
}

.writeBar-story {
  max-width: 450px;
}

.progress-story {
  max-width: 430px;
  position: absolute;
  left: 10px;
  right: 10px;
  top: 67px;
  height: 3px;
  border-radius: 10px;
  background: rgba(245, 245, 245, 0.5);
}

.vkuiProgress__in {
  background: #ffffff !important;
}

.people-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 5px;
  margin-right: 5px;
}

.img-people-block {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.text-people-block {
  text-align: center;
}

.block-card-people {
  position: relative;
  justify-content: center;
  height: calc(100vh - 105px);
}

.groupBlockCardPeople {
  min-height: calc(100vh - 120px);
}

.card-people {
  object-fit: cover;
  width: 100%;
  height: calc(100vh - 105px);
  border-radius: 0px 0px 10px 10px;
}

.button-filter-card-people {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 10px;
  background-color: var(--accent);
  border-radius: 100px;
}

.button-done-card-people {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 45%;
  left: 10px;
  background-color: yellowgreen;
  border-radius: 100px;
}

.button-dismiss-card-people {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: tomato;
  top: 45%;
  right: 10px;
  border-radius: 100px;
}

.footer-message {
  display: flex;
}

.separator-footer-message {
  margin-left: 5px;
  margin-right: 5px;
}

.text-footer-message {
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis; /* Добавляем многоточие */
}

.emojiPost {
  width: 40px;
  height: 40px;
  margin: 5px;
  transition: 1s;
}

.emojiPost:hover {
  transform: translateY(-20px) scale(150%);
}

.block-img-for-editProfile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.big-img-for-editProfile {
  width: 160px;
  height: 160px;
  margin-right: 14px;
  margin-left: 5px;
  object-fit: cover;
  border-radius: 10px;
}

.img-for-editProfile {
  width: 75px;
  height: 75px;
  margin: 0px 5px 0px 5px;
  object-fit: cover;
  border-radius: 10px;
  text-align: center;
  background-color: var(--placeholder_icon_background);
}

.block-mini-img-for-editProfile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: -15px;
}

.mini-img-for-editProfile {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 10px;
}

.text-big-img-for-editProfile {
  position: absolute;
  font-size: 14px;
  text-align: center;
  left: 5px;
  bottom: 2px;
  background-color: var(--background_page);
  width: 160px;
  height: 20px;
  border-radius: 0px 0px 10px 10px;
}

.gallery {
  margin-top: -7px;
  margin-left: -7px;
  margin-right: -7px;
}

.buttonLogin {
  display: flex;
}

.buttonLoginVK {
  display: flex;
  background-color: #0077ff;
  border-radius: 8px 0px 0px 8px;
  width: 170px;
  height: 35px;
  margin-left: auto;
}

.buttonLoginVK:hover {
  background-color: #0069e0;
}

.buttonLoginVK:active {
  background-color: #3d96fc;
}

.buttonLoginOK {
  display: flex;
  background-color: #ee8208;
  border-radius: 0px 8px 8px 0px;
  width: 170px;
  height: 35px;
  margin-right: auto;
}

.buttonLoginOK:hover {
  background-color: #d17000;
}

.buttonLoginOK:active {
  background-color: #f0962f;
}

.logoButtonLogin {
  margin-left: auto;
  color: #ffffff;
  margin-top: auto;
  margin-bottom: auto;
  width: 28px;
  height: 28px;
}

.textButtonLogin {
  margin-right: auto;
  line-height: 35px;
  color: #ffffff;
}

.galleryPremium {
  height: 300px;
}

.imgGalleryPremium {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.pageHeader {
  background-color: var(--background_content);
  height: 50px;
  box-shadow: 0 0 0 var(--thin-border) var(--input_border) inset;
}

.pageHeaderBlock {
  position: relative;
  display: flex;
  height: 50px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.pageHeaderLogo {
  width: auto;
  height: 48px;
  margin-left: 8px;
  margin-top: auto;
  margin-bottom: auto;
}

.pageHeaderButton {
  position: absolute;
  right: 8px;
  height: 50px;
  width: 234px;
  display: flex;
}

.dropdownNotifications {
  width: 570px;
  max-height: 600px;
}

.allDropdownNotifications {
  background-color: var(--placeholder_icon_background);
  height: 40px;
  line-height: 40px;
  border-radius: 0px 0px 12px 12px;
}

.titleDropdownNotifications {
  height: 40px;
  line-height: 40px;
  border-radius: 12px 12px 0px 0px;
}

.dropdownProfile {
  max-width: 500px;
  padding: 0px 0px 8px 0px;
  margin-top: 8px;
}

.dropdownProfileBlock {
  overflow: hidden;
  background-color: var(--content_tint_background);
  border-radius: 8px;
  margin: 8px 8px;
}

.separatorDropdownProfileBlock {
  display: inline-block;
  width: 1px;
  background-color: var(--separator_common);
  height: 55px;
}

.infiDropdownProfileBlock {
  display: flex;
  justify-content: space-around;
}

.tappableInfiDropdownProfileBlock {
  text-align: left;
  width: calc(100% / 2);
  min-width: 160px;
}

.blockTappableInfiDropdownProfileBlock {
  display: flex;
  position: relative;
  height: 59px;
  overflow: hidden;
}

.paddingBlockTappableInfiDropdownProfileBlock {
  margin-left: 12px;
}

.titleInfiDropdownProfileBlock {
  font-weight: 500;
  line-height: 200%;
}

.descriptionInfiDropdownProfileBlock {
  color: var(--text_secondary);
}

.blockIconDropdownNotifications {
  margin-left: auto;
  margin-top: auto;
}

.iconDropdownNotifications {
  position: absolute;
  color: var(--icon_tertiary);
  background-color: var(--separator_alternate);
  padding: 10px;
  border-radius: 100px;
  bottom: -10px;
  right: -10px;
}

.badgeIconNotifications {
  position: absolute;
  padding: 0;
  top: 6px;
  right: 2px;
  background: var(--counter_prominent_background);
  color: var(--counter_prominent_text);
  height: 18px;
  min-width: 18px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
}

.textBadgeIconNotifications {
  display: block;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.panelHeaderMini {
  max-width: 450px;
}

.panelHeaderMiniPC {
  max-width: 450px;
  margin-top: 62px;
}

.panelHeaderPC {
  margin-top: 62px;
}

.panelHeaderContentMini {
  max-width: 450px;
  margin-right: auto !important;
}

.dropdownStory {
  max-width: 450px;
  width: 100%;
  justify-content: center;
}

.imgDropdownStory {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.listUsersMessage {
  position: relative;
  width: 300px;
  height: calc(100vh - 150px);
  background-color: var(--background_content);
  box-shadow: 0 0 0 var(--thin-border) var(--input_border) inset;
  border-radius: 0px 0px 0px 8px;
}

.blockUsersMessage {
  width: 700px;
  background-color: var(--background_content);
  height: calc(100vh - 150px);
  box-shadow: 0 0 0 var(--thin-border) var(--input_border) inset;
  border-radius: 0px 0px 8px 0px;
  display: flex;
}

.blockUserMessage {
  width: 700px;
  background-color: var(--background_content);
  height: calc(100vh - 150px);
  box-shadow: 0 0 0 var(--thin-border) var(--input_border) inset;
  border-radius: 0px 0px 8px 0px;
}

.bottomButtonListUsersMessage {
  position: absolute;
  bottom: 0px;
  width: 100%;
  box-shadow: 0 0 0 var(--thin-border) var(--input_border) inset;
  border-radius: 0px 0px 0px 8px;
  padding: 8px 0px;
  color: var(--accent);
  font-size: 14px;
  text-align: center;
  background-color: var(--background_content);
}

.blockImgCardPeople {
  position: relative;
  background-color: var(--background_content);
  border-radius: 8px;
  width: 430px;
  margin-top: 16px;
  margin-right: 16px;
}

.blockInfoCardPeople {
  margin-top: 16px;
  width: 289px;
  height: 632px;
}

.imgCardPeople {
  border-radius: 8px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.buttonFilterCardPeople {
  position: absolute;
  background-color: #0000008c;
  width: 50px;
  height: 50px;
  top: 10px;
  left: 10px;
  border-radius: 100px;
}

.popoutBlockCardPeople {
  position: absolute;
  width: 430px;
  height: 632px;
  border-radius: 8px;
  background-color: #00000050;
}

.blockCardPopoutBlockCardPeople {
  display: flex;
  margin-left: 32%;
  margin-top: 40%;
}

.leftCardPopoutBlockCardPeople {
  position: relative;
  width: 103.49px;
  height: 136.32px;
  background: linear-gradient(
    180deg,
    #ffffff -12.83%,
    rgba(255, 255, 255, 0) 115.45%
  );
  opacity: 0.8;
  border-radius: 20px;
  transform: rotate(-16.07deg);
}

.swipeLeftCardPopoutBlockCardPeople {
  position: absolute;
  width: 60px;
  height: 6px;
  border-radius: 50px;
  background-color: #ffffff;
  left: 10px;
  top: 30%;
}

.krugSwipeLeftCardPopoutBlockCardPeople {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  opacity: 0.56;
  left: 6px;
  top: 46px;
  border-radius: 100px;
}

.rightCardPopoutBlockCardPeople {
  position: relative;
  width: 103.49px;
  height: 136.32px;
  background: linear-gradient(
    180deg,
    #ffffff -12.83%,
    rgba(255, 255, 255, 0) 115.45%
  );
  opacity: 0.8;
  border-radius: 20px;
  transform: rotate(22.11deg);
  margin-left: -70px;
  margin-top: 30px;
}

.swipeRightCardPopoutBlockCardPeople {
  position: absolute;
  width: 60px;
  height: 6px;
  border-radius: 50px;
  background-color: #ffffff;
  right: 15px;
  top: 85px;
}

.krugSwipeRightCardPopoutBlockCardPeople {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  opacity: 0.56;
  right: 11px;
  top: 81px;
  border-radius: 100px;
}

.textCardPopoutBlockCardPeople {
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 21px;
  font-weight: 600;
}

.blockUserPhotoProfile {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.iconUserPhotoProfile {
  margin-left: auto;
  margin-right: auto;
  color: var(--icon_secondary);
}

.separator-editor {
  border-right: 1px solid var(--separator_common);
}

.writeBarChat {
  position: absolute;
  bottom: 0;
}

.chat {
  display: flex;
  flex-direction: column;
  margin: 0px 12px;
  height: calc(100vh - 245px);
  overflow: scroll;
}

.chatMobile {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 168px);
  overflow: scroll;
}

.messages {
  margin: 12px;
  display: flex;
  flex-direction: column;
}

.message {
  border-radius: 20px;
  padding: 12px 16px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  display: inline-block;
}

.yours {
  align-items: flex-start;
}

.yours .message {
  margin-right: 25%;
  background-color: var(--receive_bg);
  position: relative;
}

.yours .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: var(--receive_bg);
  border-bottom-right-radius: 15px;
}

.yours .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: var(--background_content);
  border-bottom-right-radius: 10px;
}

.mine {
  align-items: flex-end;
}

.mine .message {
  color: white;
  margin-left: 25%;
  background: var(--send_bg);
  position: relative;
}

.mine .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -7px;
  height: 20px;
  width: 20px;
  background: var(--send_bg);
  border-bottom-left-radius: 15px;
}

.mine .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: var(--background_content);
  border-bottom-left-radius: 10px;
}

.messageDataRight {
  align-self: flex-end;
  justify-self: end;
  font-size: 12px;
  color: var(--text_subhead);
}

.messageDataLeft {
  align-self: flex-start;
  justify-self: start;
  font-size: 12px;
  color: var(--text_subhead);
}

.separatorSearch {
  height: 1px;
  background: currentColor;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  color: #e1e3e6;
  color: var(--input_border);
}

.verticalSeparatorSearch {
  height: 48px;
  width: 3px;
  background: currentColor;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  color: #e1e3e6;
  color: var(--input_border);
}
